In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame({
    'Date': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Mood': ['good', 'bad', 'good', None, 'good', 'ok', 'ok', 'bad', 'good', 'tired'],
    'Hours of sleep': [8, 7, 8, None, 5, 7, 5, 6, 7, 4],
    'Stpes walked': [1000, None, 4000, 2000, 2000, 1000, 1000, 1500, 3000, 800],
    'Screen times': ['2 hours', '5 hours', None, '4 hours', '3 hours', '2 hours', '1 hour', '6 hours', '3 hours', '4 hours'],
    'meals': [3, 3, 3, 3, None, 3, 3, 2, 3, 2]
})

print(df)

   Date   Mood  Hours of sleep  Stpes walked Screen times  meals
0     1   good             8.0        1000.0      2 hours    3.0
1     2    bad             7.0           NaN      5 hours    3.0
2     3   good             8.0        4000.0         None    3.0
3     4   None             NaN        2000.0      4 hours    3.0
4     5   good             5.0        2000.0      3 hours    NaN
5     6     ok             7.0        1000.0      2 hours    3.0
6     7     ok             5.0        1000.0       1 hour    3.0
7     8    bad             6.0        1500.0      6 hours    2.0
8     9   good             7.0        3000.0      3 hours    3.0
9    10  tired             4.0         800.0      4 hours    2.0

## Introduction to data frames

In [4]:
print("1. Shape of the DataFrame:")
print(df.shape)

1. Shape of the DataFrame:
(10, 6)

 Q1:This means the DataFrame has 10 rows and 6 columns

In [5]:
print("   Total null values:")
print(df.isnull().sum().sum())
print("\n   Column-wise null values:")
print(df.isnull().sum())

   Total null values:
5

   Column-wise null values:
Date              0
Mood              1
Hours of sleep    1
Stpes walked      1
Screen times      1
meals             1
dtype: int64

Q2: df.isnull().sum().sum()  this shows how many total nulls values are there on the dataset and df.isnull().sum() shows how many column wise null values are there in the dataset

In [6]:
print(df.dtypes)

Date                int64
Mood               object
Hours of sleep    float64
Stpes walked      float64
Screen times       object
meals             float64
dtype: object

Q3: in this data set the datatypes used are:
Integer (int64): whole numbers

Float (float64): decimal numbers (often used when nulls are present)

Object (object): usually text or mixed types

In [22]:
print(df.describe())

           Date  Hours of sleep  Stpes walked  meals
count  7.000000        6.000000      6.000000    6.0
mean   4.000000        6.666667   1833.333333    3.0
std    2.160247        1.366260   1169.045194    0.0
min    1.000000        5.000000   1000.000000    3.0
25%    2.500000        5.500000   1000.000000    3.0
50%    4.000000        7.000000   1500.000000    3.0
75%    5.500000        7.750000   2000.000000    3.0
max    7.000000        8.000000   4000.000000    3.0

Q4: .describe() gives summary statistics for numerical columns including:

Count of non-null values

Mean (average)

Standard deviation

Minimum and maximum values

25%, 50% (median), and 75% percentiles
This helps understand the spread and central tendency of the data.

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            10 non-null     int64
 1   Mood            9 non-null      object
 2   Hours of sleep  9 non-null      float64
 3   Stpes walked    9 non-null      float64
 4   Screen times    9 non-null      object
 5   meals           9 non-null      float64
dtypes: float64(3), int64(1), object(2)
memory usage: 612.0+ bytes

Q5: .info() shows:

The number of rows and columns

How many non-null values each column has

The data type of each column

It helps identify missing data and understand the overall structure of the dataset.